{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container mt-5">
        {# --- DÉBUT BLOC FLASH MESSAGES --- #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {# On transforme le label 'error' en 'danger' pour correspondre aux classes Bootstrap #}
                <div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
        {# --- FIN BLOC FLASH MESSAGES --- #}
        <h1>Configuration de l'application</h1>
        <div class="card mt-4">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary mt-3">Enregistrer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
