{% extends 'base.html.twig' %}

{% block title %}{% trans %}Se connecter{% endtrans %}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h3 class="text-center mb-0">{% trans %}Connexion{% endtrans %}</h3>
                    </div>
                    <div class="card-body">
                        {# Display Login Errors #}
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <form method="post">
                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">{% trans %}Email{% endtrans %}</label>
                                <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>

                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">{% trans %}Mot de passe{% endtrans %}</label>
                                <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>
                            <div class="mb-4 text-end">
                                <a href="{{ path('app_forgot_password_request') }}" class="text-decoration-none small text-muted">
                                    {% trans %}Mot de passe oublié ?{% endtrans %}
                                </a>
                            </div>

                            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">
                                    {% trans %}Se connecter{% endtrans %}
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <small>{% trans %}Pas encore de compte ?{% endtrans %} <a href="{{ path('app_register') }}">{% trans %}S'inscrire{% endtrans %}</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
